@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #666;
}

.footer,
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  background-color: #eee;

}
.right-links,
.left-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.right-links {
  margin-right: 20px;
}

.left-links {
  margin-left: -20px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.buttons,
.input {
  padding: 10px;
}
