body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  margin-left: -30px;
  gap: 10px;
}

li {
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: #eee;
  font-size: 24px;
}


.header {
  display: flex;
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  align-items: center;
  padding: 0 16px;
}

.middle {
  display: flex;
  flex: 1;
}


.footer {
  display: flex;
  height: 72px;
  background: #eee;
  color: darkmagenta;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding: 16px;
  flex-shrink: 0;
}

.card {
  padding: 16px;
  width: 300px;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 48px;
}