body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  display: block;
  margin: 5px;
  padding: 5px;
}

.content {
  background: #e3f4ff;
  display: block;
  margin: 5px;
  padding: 10px;
}

.button-container {
  display: inline-block;
  background: #e3f4ff;
  margin: 5px;
  padding-left: 148px;
  padding-right: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: inline-block;
  margin-left: -30px;
  padding: 10px;

}